body {margin:0; padding:0; width:100%; min-width:1050px; font-family: "adobe-caslon-pro",serif; font-style: normal; font-weight: 400; font-size:16px; background:#372e21; letter-spacing:1.5px;}
a {text-decoration:none; color:#bdb6a2; outline:0;}
a img {border:0;}
ul {list-style:none; padding:0; margin:0;}
input {-webkit-appearance:none;}
p {margin:0 0 20px 0; display:inline-block;}
ul, li, ol, fieldset {list-style:none; padding:0; margin:0; border:none;}
input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px; font-size:12px; text-transform:uppercase; border:none; background:#fff; padding:0 20px 0 20px; resize:none; float:left; width:100%; height:58px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
input[type="checkbox"] {-webkit-appearance:checkbox;}
input[type="radio"] {-webkit-appearance:radio;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
::-webkit-input-placeholder {color: #86837e; opacity:1; filter:alpha(opacity=100);}
:-moz-placeholder {color: #86837e; opacity:1; filter:alpha(opacity=100);}
::-moz-placeholder {color: #86837e; opacity:1; filter:alpha(opacity=100);}
:-ms-input-placeholder {color: #86837e; opacity:1; filter:alpha(opacity=100);}

/*REUSABLE*/
.mid-cont {position:relative; width:1000px; margin:auto;}
.hidden, #carousel .bx-pager {display:none;}
.last, .gallery-cont .project:nth-child(4n+4), #shop-categories #cat-cont .cat-item:last-child {margin-right:0;}
#header, #footer, .container, #sidebar {float:left; width:100%; display:none;}
#main {background:#e8e5e2; padding:60px 0 30px 0;}
#banner {text-align:center; margin-top:4px;}
#banner img {float:left; width:100%; height:auto; min-width:1000px;}
#banner .page-title {width:100%; background:url(../images/banner-title.png) repeat; height:85px; position:absolute; left:0; top:682px; color:#e8e5e2; font-size:20px; padding-top:55px; min-width:1050px;}
input[type="submit"], #about-info a, #contact-form .wpcf7-response-output, .button {background:#5d6a78; color:#e8e5e2; font-size:12px; width:185px; text-align:center; padding:22px 0; float:left; cursor:pointer;}
.overlay {display:none; position:absolute; width:100%; left:0; top:0; background:#363636; opacity:.8; filter:alpha(opacity=80); z-index:100;}

/*HOVERS*/
#header #nav li a:hover, #header #nav .current-menu-item a, #contact-info a {color:#5d6a78;}
#footer a:hover {color:#5e594b;}
#about-info a:hover, input[type="submit"]:hover, .button:hover {background:#372e21;}

/*FONTS*/
.proxi-cond-semibold, .gallery-cont .project-title span, .product-overlay .product-title {font-family: "proxima-nova-condensed",sans-serif; font-style: normal; font-weight: 600; text-transform:uppercase; }
.proxi-semibold, #header #nav li a, #footer h3, #copyright, #contact-info p strong, #shop-title, .product-overlay .info {font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 600; text-transform:uppercase; letter-spacing:2px;}
.proxi-light, #about-info a, #banner .page-title, input, textarea, #contact-form .wpcf7-response-output, .button {font-family: "proxima-nova",sans-serif; font-style: normal; font-weight: 300; text-transform:uppercase;}

/*HEADER*/
#header {background:url(../images/greek.png) repeat-x bottom left #e8e5e2; height:190px;}
#header #logo {float:left; background:url(../images/logo.png) no-repeat; width:300px; height:120px; margin-top:40px;}
#header #logo:hover {background:url(../images/logo-hover.png) no-repeat;}
#header #nav {float:right; margin-top:75px;}
#header #nav li {float:left; margin-left:40px;}
#header #nav li a {font-size:16px; color:#363636;}

/*FOOTER*/
#footer {height:315px; background:url(../images/footer-lines.png) repeat-x 0 168px; color:#bdb6a2; text-align:center;}
#footer #sidebar {background:url(../images/footer-star.png) no-repeat center 75px;}
#footer aside {float:left; margin-top:60px; width:50%;}
#footer h3 {margin:0; font-size:18px;}
#footer .textwidget {font-size:20px; font-style:italic;}
#footer #social {display:inline-block; margin-top:70px;}
#footer #social .social-icon {float:left; width:20px; height:19px; background:url(../images/social-icons-2.png) no-repeat; margin-right:40px;}
#footer #social #facebook:hover {background-position:0 -19px;}
#footer #social #pinterest {margin-right:40px; background-position:-52px 0;}
#footer #social #pinterest:hover {background-position:-52px -19px;}
#footer #social #houzz {margin-right:0; background-position:-109px 0;}
#footer #social #houzz:hover {background-position:-109px -19px;}
#footer #copyright {font-size:14px; margin-top:40px;}

/*ABOUT*/
#about-info {float:left; width:580px; line-height:22px; color:#53504c;}
#about-img {float:right; width:374px;}
#about-img img {width:100%; height:auto;}

/*CONTACT*/
#contact-info p {width:50%; float:left; text-align:center; font-style:italic; font-weight:600; font-size:20px; color:#5d6a78;}
#contact-info p strong {font-size:24px; color:#363636; text-transform:uppercase; border-bottom:3px solid #363636; padding-bottom:5px; display:inline-block; margin-bottom:15px;}
#contact-info a:hover {color:#372e21;}
#contact-form {background:#363636; padding:55px 0 20px 0;}
#contact-form .wpcf7-form-control-wrap {width:325px; margin:0 12px 12px 0; float:left;}
#contact-form .wpcf7-form-control-wrap:nth-child(3) {margin-right:0;}
#contact-form .wpcf7-form-control-wrap:nth-child(4), #contact-form textarea {width:100%; height:175px;}
#contact-form textarea {padding-top:25px;}
#contact-form span.wpcf7-not-valid-tip {display:none !important;}
#contact-form .wpcf7-response-output {background:#b3a56d; border:0; position:absolute; width:800px; margin:0; right:0; top:257px; text-transform:uppercase;}
#contact-form .wpcf7-mail-sent-ok {background:#5d786f;}

/*PROJECTS and SHOP*/
.gallery-cont {background:#363636; padding:55px 0 45px 0;}
.gallery-cont .project, .gallery-cont .product {float:left; margin:0 0 10px 0; height:255px; width:250px; padding:0 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.gallery-cont .project img, .gallery-cont .product img {width:100%; height:100%;}
.gallery-cont .project-title {display:none; position:absolute; width:240px; height:256px; background:url(../images/project-hover.png); margin-top:-267px; text-align:center;}
.gallery-cont .project:hover .project-title, .gallery-cont .product:hover .project-title {display:block;}
.gallery-cont .project-title .cont {display:table-cell; vertical-align:middle; width:242px; height:256px; }
.gallery-cont .project-title .cont span {border-bottom:3px solid #363636; padding-bottom:3px; color:#363636; font-size:18px; text-transform:uppercase; max-width:115px; display:inline-block;}
#shop-cont .project-title {background:url(../images/shop-hover.png); cursor:pointer;}
#shop-title {color:#e8e5da; font-size:22px; text-transform:uppercase; background:#5d6a78; padding:30px 0; width:100%; text-align:center; float:left; margin-bottom:30px;}
#shop-title p {margin:0;}

#shop-categories {text-align:center; margin-bottom:25px;}
#shop-categories #cat-cont {display:inline-block;}
#shop-categories #cat-cont .cat-item {float:left; margin-right:25px; font:normal 13px "proxima-nova"; text-transform:uppercase; color:#747372; padding:10px 15px; border:2px solid transparent; cursor:pointer;}
#shop-categories #cat-cont .cat-item:hover, #shop-categories #cat-cont .selected {border-color:#fff; color:#fff;}

/*PROJECTS LIGHTBOX*/
#fancybox-wrap #fancybox-right-ico, #fancybox-wrap #fancybox-left-ico {display:none;}
#fancybox-wrap #fancybox-left, #fancybox-wrap #fancybox-left:hover {background:url(../images/lightbox-prev.png) no-repeat 0 center; margin-left:-100px;}
#fancybox-wrap #fancybox-right, #fancybox-wrap #fancybox-right:hover {background:url(../images/lightbox-next.png) no-repeat right center; margin-right:-100px;}
#fancybox-wrap #fancybox-close {background:url(../images/lightbox-close.png) no-repeat; width:26px; height:25px; margin:-20px 15px 0 0;}
#fancybox-overlay {background:#363636 !important; opacity:.8 !important; filter:alpha(opacity=80);}

/*SHOP LIGHTBOX*/
.product-overlay {display:none; position:fixed; z-index:1000; background:#fff; width:870px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:15px; left:65px;}
.product-overlay .overlay-img {float:left; width:375px; text-align:center;}
.product-overlay .overlay-img img {display:inline-block; max-width:100% !important; max-height:375px !important;}
.product-overlay .info-cont {float:right; width:380px; margin:45px 55px 0 0;}
.product-overlay .product-title {font-size:25px; color:#363636;text-transform:uppercase; border-bottom:3px solid #363636; padding-bottom:5px; float:left; width:100%; margin-bottom:40px;}
.product-overlay .info {font-size:13px; color:#6f6c66; float:left; width:100%; margin-bottom:30px;}
.product-overlay #close {position:absolute; top:15px; right:15px; background:url(../images/close.png) no-repeat; width:26px; height:25px; cursor:pointer;}
/*#products-cont .product:nth-child(4n+1) .product-overlay {margin-left:60px;}
#products-cont .product:nth-child(4n+2) .product-overlay {margin-left:-190px;}
#products-cont .product:nth-child(4n+3) .product-overlay {margin-left:-440px;}
#products-cont .product:nth-child(4n+4) .product-overlay {margin-left:-690px;}*/

/*HOME SLIDER*/
#carousel {width:100%; height:525px; margin:0 auto;overflow:hidden; padding-top:10px;}
#carousel #slides {overflow:hidden; position:relative; width:100%; height:525px;}
#carousel #slides .slides-cont {position:relative; left:0; top:0; margin:0; padding:0; width:100%;}
#carousel #slides img {width:auto !important; height:525px; float:left; margin-right:10px;}
#carousel .bx-controls {position:absolute; z-index:100; width:70px; height:45px; background:url(../images/buttons-bg.png); top:480px; padding:0 25px;}
#carousel .bx-wrapper .bx-controls-direction a {height:18px; width:15px; margin-top:-6px;}
#carousel .bx-wrapper .bx-prev {background:url(../images/slider-arrows.png) 0 0 no-repeat; }
#carousel .bx-wrapper .bx-next {background:url(../images/slider-arrows.png) -38px 0 no-repeat; cursor:pointer;}
#carousel #slides .bx-wrapper {max-width:100% !important;}
#carousel #slides .bx-wrapper .bx-viewport {border:none; box-shadow:none; background:none; left:0;}
#carousel #play, #carousel #pause {background:url(../images/slider-play.png) 0 -14px no-repeat; margin:18px 10px 0 28px; cursor:pointer; width:14px; height:14px;}
#carousel #pause {display:none; background-position:0 0;}

@media screen and (max-device-width: 480px) { 
	body {min-height:1200px;}
	#banner, #banner img {height:480px !important;}
	#banner .page-title {margin-top:-148px !important;}
	.gallery-cont .project-title {height:251px; width:243px; margin-left:-1px;}
	#lightbox {top:40px !important; text-align:center; left:100px !important;}
	#outerImageContainer, #imageContainer {display:inline-block !important; max-width:720px !important; height:auto !important;}
	#lightboxImage {max-width:700px !important; height:auto !important;}
	.overlay {width:1050px !important;}
}

@media screen and (max-device-width: 1024px) { 
	body {min-height:1300px;}
	#banner, #banner img {height:480px !important;}
	#banner .page-title {margin-top:-148px !important;}
	.gallery-cont .project-title {height:257px; width:242px; margin-left:-1px;}
	#lightbox {left:115px !important; top:130px !important;}
	#outerImageContainer, #imageContainer {display:inline-block !important; max-width:720px !important; height:auto !important;}
	#lightboxImage {max-width:700px !important; height:auto !important;}
	.overlay {width:1050px !important;}
	#fancybox-overlay {width:1050px !important;}
	#fancybox-wrap {left:175px !important;}
}